
*{
    box-sizing: border-box;}

 .header-container {  
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    min-width: 135rem;    

        
 }
 

 nav {
    background-color:#d9043d ; 
    
}

nav ul{
    list-style-type: none;
    
}

 nav ul li{
    display: inline-block;
    padding: .5rem;
    
    
}


.header-container nav ul li a{
    color: white;
    text-decoration: none;
}




#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

img {
    max-width: 650px;
}

footer {
    background-color: #d9043d;
    padding: 20px;
    text-align: center;
    color: white;
}