
*{
    box-sizing: border-box;}

 .header-container {  
    background-color: #120323;
    color: #97bf04;
    text-align: center;
   min-width: 145rem; 
   padding-top: 2rem; 

        
 }
 
 body {
    background-color:#cccccc ;
 }

 nav {
    background-color:#d9043d ; 
    
}

nav ul{
    list-style-type: none;
    
}

 nav ul li{
    display: inline-block;
    padding: .5rem;
    
    
}


.header-container nav ul li a{
    color: white;
    text-decoration: none;
}

figure {
    max-width: 100%;
    background-color: white;
    border: 20px solid white;
    border-radius: 10px;

   
}


#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

#gallery-container:last-child{
    grid-column: 2 / 3;
    
}


footer {
    background-color: #d9043d;
    padding: 20px;
    text-align: center;
    color: white;
    min-width: 145rem;
}