

.header-container nav {
    background-color:#d9043d ;
    width: 100vw;
    
    
}

.header-container nav ul{
    list-style-type: none;
    
}

.header-container nav ul li{
    display: inline-block;
    padding: 20px;
    
    
}


.header-container nav ul li a{
    color: white;
    text-decoration: none;
}


.header-container {
    background-color: #120323;
    width: 100vw;
    color: #97bf04;
    text-align: center
    ;
}

footer {
    background-color: #d9043d;
    padding: 20px;
    text-align: center;
    color: white;
}